
.icon-circle:before { content: '\e800'; } /* '' */
.icon-play-circled:before { content: '\e803'; } /* '' */
.icon-play-circled2:before { content: '\e804'; } /* '' */
.icon-play:before { content: '\e805'; } /* '' */
.icon-stop:before { content: '\e806'; } /* '' */